.login-form{
    padding: 30px 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.input-from{
    margin-bottom: 7px;
}
.btn-login{
    background-color: #F92D3C;
    color: #fff;
    padding: 8px 20px;
    border: none;
}